
/** Add css rules here for your application. */

/** Example rules used by the template application (remove for your app) */
h1 {
    font-size: 2em;
    font-weight: bold;
    color: #777777;
    margin: 40px 0px 70px;
    text-align: center;
}

.sendButton {
    display: block;
    font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
    width: 400px;
}

.dialogVPanel {
    margin: 5px;
}

.serverResponseLabelError {
    color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
    margin: 15px 6px 6px;
}

body {
    text-align: center;
    font-family: verdana, sans-serif;
}

.deckpanel {
    border: 1px solid #BBBBBB;
    padding: 3px;
    background: azure;
}

.buttonLink {
    background: none !important;
    color: inherit;
    border: none;
    padding: 0 !important;
    font: inherit;
    /*border is optional*/
    border-bottom: 1px solid #444;
    cursor: pointer;
    outline-color: transparent
}

.buttonLink2 {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 12px 24px;
    margin: 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}

.buttonLink3 {
    background-color: #50e254; /* Green */
    border: none;
    color: white;
    padding: 12px 24px;
    margin: 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}

.buttonLink4 {
    background-color: rgba(66, 181, 70, 0.38); /* Green */
    border: none;
    color: white;
    padding: 12px 24px;
    margin: 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}